* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* navigation section */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    color: white;
    padding: 2.2rem 7rem;
}

.logo-section {
    font-size: 2rem;
    cursor: pointer;
}

.select-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-section {
    margin-left: 1rem;
    cursor: pointer;

    font-size: 1.2rem;
}

/* item body section */

.item-container {
    display: grid;
    place-items: center;
    min-height: 80vh;
}
